{% extends "base.html" %}

{% block title %}
<div class='m-2'>
    <h1>Edit Post</h1>
</div>
{% endblock%}

{% block content %}
<div class="m-2">
    <form action="/posts/{{post_id}}/edit" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{title}}"><br>
        <label for="content">Content</label>
        <input type="text" name="content" id="content" value="{{content}}"><br>
   
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
    <form action="/posts/{{post_id}}">
        <button class="btn btn-secondary">Cancel</button>
    </form>
</div>
{% endblock %}