{% extends "base.html" %}
{% block home %}{% endblock %}
{% block title %}
<div class="m-2">
    <h1>Blogly Recent Posts</h1>
</div>
{% endblock%}

{% block content %}
<div class="m-2">
    <div>    
        {% for post in posts %}
        <h2><a href="/posts/{{post.id}}">{{post.title}}</a></h2>
        <div>{{post.content}}</div>
        <small>by <a href="/users/{{post.user.id}}">{{post.user.full_name}}</a> on {{post.created_at.strftime('%a %b %d, %Y %I:%m %p')}}</small>
        {% endfor %}
        </ul>
    </div>
</div>
<a href="/posts"><-- See all posts --></a>
{% endblock %}