{% extends "base.html" %}

{% block title %}
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endfor %}
{% endwith %}
<div class="m-2">
    <h1>{{title}}</h1>
</div>
{% endblock%}

{% block content %}
<div class="m-2">
    <div>
        {{content}}
    </div>
    
    <div>
        By <a href="/users/{{user_id}}">{{full_name}}</a>
    </div>

    {% for tag in tags %}
        <span class="badge badge-primary">{{tag.name}}</span>
    {% endfor %}

    <form action="/users/{{user_id}}">
        <button class="btn btn-secondary">Cancel</button>
    </form>

    <form action="/posts/{{post_id}}/edit">
            <button class="btn btn-primary">Edit</button>
    </form>

    <form action="/posts/{{post_id}}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>


</div>
{% endblock %}